

body {
	margin: 0;
	height: 100vh;
}

footer {
	height: 15vh;
	width: 100vw;
	background-color: #643173;
	position: relative;
}

#maincontainer {
	background-color: lightgrey;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#small_logo {
	width: 10%;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translate(0, -50%);
}

#big_logo {
	width: 41px;
	position: absolute;
}